.start-button{
    background-color: rgb(34, 161, 30);
    cursor: pointer;
    font-weight: bold;
    outline: none;
    margin-bottom: 20px;
    border-radius: 100px;
    border: none;
    width: 300px;
    padding: 20px;
    color: white;
}

.btn-disabled{
    cursor: not-allowed;
    pointer-events: none;
    background-color: rgb(27, 90, 25);
}

.start-button:hover{
    background-color: rgb(34, 150, 30);
}

.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.reactor-panel-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-victories{
    position: fixed;
    top: 50px;
    right: 10px;
    font-size: 1.5rem;
}