.input-container{
    width: 50vh;
    height: 50vh;
    border-radius: 50px;
    margin-left: 20px;
    background-color: rgb(177, 177, 177);
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-buttons-container{
    width: 80%;
    height: 75%;
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr;
    grid-template-rows: 0.8fr 0.8fr 0.8fr;
}